.header{
    max-width: 100%;
    padding: 10%;
  display: flex; 
  flex-direction: column;

}
.Head{
     width: 1512px;
    height: 865.41px;
    top: 77.73px;
    gap: 0px;
    opacity: 0px;
    padding-left: 10%;
    padding-top: 160px;
    gap: 2rem;
    justify-content: center;

}
.page{
    position:absolute;
    display: flex;
}
.Head h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
}
.Head p{
     font-family: Aeonik;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    padding-top: 5px;
    padding-bottom:5px ;
    width: 30%;

}
.green{
    color: #11453B;
    ;
}
.Brown{
    color:#B4A572 ;
}
.Red{
    color: #EA4E4B;
}
.para{
    font-family: Aeonik;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color:#515251;
}
.Button{
    padding-top: 50px;
     width: Fixed (272px)px;
    height: Hug (56px)px;
    padding: 20px;
    gap: 8px;
    border-radius: 32px;
    opacity: 0px;
    background-color: #11453B;
    color: #ffff;
    cursor: pointer;
    font-family: Aeonik;
    line-height: 2px;
    font-size: 20px; 
}
.Download{
    padding-top: 70px;
}

    /* display: flex;
    width: Hug (177px)px;
    height: Hug (72px)px;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #fff; */
.apps{
    display: flex;


}

    /* width: Hug (177px)px;
    height: Hug (72px)px;
    padding: 15px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
    border: 2px white;
    background-color: #fff; */
 